body {
 margin: 0;
 border: 2px aquamarine solid; 
 background-color: #2f1c6d;
 box-sizing: border-box;
 height: 100vh;
 display: flex;
 flex-direction: column;
 justify-content: space-around;
 align-items: center;
 gap: 10px;
 padding: 10px 0;
}

.title {
  border: 1px aquamarine solid;
  box-sizing: border-box;
  width: 90%;
  flex-grow: 2;
}

.subtitle {
  border: 1px aquamarine solid;
  box-sizing: border-box;
  width: 80%;
  flex-grow: 1;
}

.content {
  border: 2px rgb(195, 44, 167) solid;
  box-sizing: border-box;
  width: 80%;
  flex-grow: 14;
}

.footer {
  border: 1px aquamarine solid;
  box-sizing: border-box;
  width: 90%;
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding:5px;
  gap: 5px;
}

.footer-content {
  border: 2px rgb(195, 44, 167) solid;;
  box-sizing: border-box;
  width: 100%;
  flex-grow: 6;
}
 
.footer-subcontent{
  border: 2px rgb(195, 44, 167) solid;;
  box-sizing: border-box;
  width: 100%;
  flex-grow: 2;
}